* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.select  {
font-size: 20px;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}
.select select{
  text-align: right;
  width: 40%;
  /* float: right; */
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* .blog-preview{
padding: 10px ;
} */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview h2{
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-preview p{
  font-size: larger;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.loading {
  
  padding: 10 px ;
  top: 50px;
}
a{
  text-decoration: none;
}
.blog_details h2{
  color: #f1356d;
  margin-bottom: 10px;
  font-size: 20px;
}
.blog_details div{
  margin: 20px 0px;
}
.blog_details button{
  padding: 10px;
  background-color: #f1356d;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 0px;
  cursor: pointer;
}
.create{
  text-align: center;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create label{
  text-align: left;
  margin: 10px 0px;
  display: block;
}
.create input,textarea,select,option{
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #ddd;
  display: block;
}
.create button{
  padding: 10px;
  background-color: #f1356d;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 0px;
  cursor: pointer;

}
.not-found h2{
  margin: 10px;

}
.not-found p{
  margin: 40px;
}
.not-found a{
  padding: 10px;
  background-color:#f1356d ;
  color: white;
  border-radius: 10px;
  margin: 5px;
}
.blog-list button{
  padding: 5px;
  background-color:#f1356d ;
  color: white;
  border: 0px;
  border-radius: 5px;
}
